<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chings.core.dao.IUserDao" >
  <resultMap id="Users" type="com.chings.core.model.User" >
    <id column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    userid, username, nickname, age,info,sex
  </sql>
  
  <select id="getUserById" resultMap="Users" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tab_sys_user
    where userid = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectAll" resultMap="Users" >
    select 
    <include refid="Base_Column_List" />
    from tab_sys_user
  </select>
  
</mapper>