<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chings.core.dao.IUserDao" >

  <resultMap id="User" type="com.chings.core.model.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="lock_time" property="lock_time" jdbcType="DATE" />
    <result column="lock_continue_times" property="lock_continue_times" jdbcType="INTEGER" />
    <result column="lock_state" property="lock_state" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="create_time" property="create_time" jdbcType="DATE" />
    <result column="country" property="country" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="INTEGER" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="rank" property="rank" jdbcType="INTEGER" />
    <result column="share_type" property="share_type" jdbcType="INTEGER" />
  </resultMap>

  <sql id="User_Column_List" >
      id,name,email,lock_time,lock_continue_times,lock_state,status,
      password,create_time,country,city,province,photo,score,rank,share_type
  </sql>
  
  <select id="findById" resultMap="User">
    select 
      <include refid="User_Column_List" />
    from t_user
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="findByAccountName" resultMap="User">
    select
    <include refid="User_Column_List" />
    from t_user
    where name = #{name}
  </select>


  <insert id="register"
      useGeneratedKeys="true"
      parameterType="com.chings.core.model.User">
    insert into t_user(name,email,
      password,create_time,country,city,province)
      values(#{name},#{email},#{password},#{create_time},#{country},#{city},#{province})
  </insert>

</mapper>